
  .container-1{
    display: flex;
  }
  .sidebar-wrap {
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
  }
  @media screen and (min-width: 768px) {
    .container-1{
      flex-direction: row;
    }
  
    .sidebar-wrap {
      flex-basis: 20%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    
    .detail-wrap {
      flex-basis: 75%;
      flex-grow: 0;
      flex-shrink: 1;
    }
  }
  .detail-wrap {
    flex-basis: 75%;
    flex-grow: 0;
    flex-shrink: 1;
  }
  