/* Box-sizing reset */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Poppins:wght@300&display=swap');* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: lightgray;
}


.req-head {
  margin: 0% 0% 0 -17px;
  display: flex;
  top: 44px;
  width: 39%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 5%;
}


.req-head h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 28.5557px;
  line-height: 43px;
  color: #72AA83;
}
body {
  min-zoom: 100%;
  max-zoom: 200%;
}

.box {
  margin: 4% 1% 0 auto;
  width: 1114px;
  height: 226px;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}
.item-wrap{
  display: flex;
  justify-content: center;
  padding-left: 36px;

}
@media screen and (max-width: 1024px) {
  .box {
    width: 80%;
    height: auto;
  }

  .right-2{
    width: 600px !important ;
  }
  .box {
    width: 724px;
    height: 226px;
  }
  .container-3{
    width: 724px !important;
    top: 2rem !important;

  }
  html{
    font-size: 15px;
  }
  .box-head-1{
    padding-left: 0 !important;

  }
  .item-wrap{
    padding-left: 0;
  }
  .box-head-1 h3{
    font-size: 17px !important ;
  }
  .box-6 h3{
    font-size: 17px !important;
  }
  .req-head {
    left: 24px;
    top: 9px;
    width: 100%;
    font-size: 0px;
}
  .main-box{
    width: 724px !important;

  }
  .card{
    width: 228px !important;
  }
  .card-container{
    gap: 3px !important;
    margin-left: 0 !important; 
  }
  .active-brown{
    left: 400px !important;
  }


}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

@media only screen and (max-width: 767px) {

  /* Box-sizing reset */
  * {
    box-sizing: border-box;
  }
  .messageimage{
    display: none !important;
  }
  .box {
    width: 100%;
    height: auto;
  }
  .req-head {
    margin: 0% 0% 0 -67px;
  }
  .req-head h3{
    font-size: 18px;
  }
  .active-brown {
    left: 149px !important;
    z-index: 1;
    position: relative !important;
    top: 58px;
    width: 110px !important;
    height: 40px !important;
}
  .box {
  margin: 4% 33% 0 5%;
 
    width: 300px !important;
  
    height: 100% !important;
}
  
  .my-box {
    /* grid-template-rows: repeat(2, 1fr) !important;
    gap: 5px !important;  */
    display: flex !important;
    flex-direction: column !important;
  }
  
  .box-head-1 h2 {
    font-size: 20px;
  }
  
  .box-head-1 p {
    font-size: 12px;
    line-height: 16px;
  }
  
  .box-head-1 h3, .box-head-1 p {
    text-align: center;
  }
  
  .box-head-1 h2 {
    margin: 0 0.5rem;
  }
  
  .box-6 {
    flex-direction: column;
    align-items: center;
  }
  
  .box-6 span {
    margin: 0 0 5px 0;
  }
  .oval {
    width: calc(10.33% - 5px) !important;
  }
  
  .line-10 {
 display: none;
  }
  
  .box-6 p {
    font-size: 14px;
    line-height: 18px;
  }
  
  .box-6 p {
    margin: 0px 5px 0px 5px;
  }
  
  /* appointment component CSS */
  .main-box {
    margin: 4% 3% 0px -24% !important;
    border-radius: 20px;
    height:100% !important;
    width: 300px !important;
  }
  
  .right-2 {
    width: 100% !important;
    height: auto;
    top: 0;
    left: 4.5rem!important;
    border-radius: 0 0 20px 20px !important;
  }
}

.my-box {
  top: 2rem;
 
  flex-shrink: 0;
  display: flex;
  flex-shrink: 2;

/* display: grid;
  grid-template-columns: repeat(4, 1fr);  */
  gap: 10px;
  position: relative;
}

.item {
  background-color: #fff;
  padding: 10px;
  text-align: center;
}

.box-head-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: green;
  font-size: 24px;
  padding-left: 38px;
}

.box-head-1 h2 {
  margin: 0 20px;
}

.box-head-1 h3 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  color: #48AF78;
  margin-bottom: 5px;
}
.box-head-1 p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.005em;
  color: #959595;
}
.box-head-1 h3, .box-head-1 p {
  margin: 0;
}

.box-head-1 h2 {
  margin: 0 1rem;
  color: green;

}
.box-6{
  display: flex;
  flex-direction: column;
}
.box-6 h3{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #48AF78;;
  font-size: 27px;

}

.box-6 span {
  display: flex;
  margin: 0px 59px 0px 29px;
  align-items: center;
}
.line-10 {
  position: absolute;
  width: 2px;
  top: 12px;
  height: 70.84px;
  border: 1.3193px solid #95959542;
  transform: rotate(181deg);
}
.box-6 p{
  font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 16.5813px;
line-height: 20px;
/* identical to box height */

letter-spacing: -0.005em;

color: #959595;

}
.box-6 p{
  margin: 0px 18px 0px 18px;

}



/* appointment component css */
.main-box{
  margin: 4% 1% 0 auto;
  background: #FFFFFF;
border: 1px solid #FFFFFF;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
border-radius: 54px;
height:526px;
width: 1114px;
}

.right-2{
  background-color: #48AF78;
  display: flex;
  height: 100%;
  width: 712px  ;
  justify-content: left;
  
  align-items: center;
  top: 4rem;
  left: 2rem;
  position: relative;

font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 16.096px;
line-height: 19px;


color: #FFFFFF;
}
.messageimage{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  left: 3rem;
  bottom:0rem;
}
.messageimage img{
  width: 105px;
  height: 105px;
}